doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular 2 | Object Partners, Inc.
    base(href="/")
  body
    opi-slide-deck
